{% load blog_extras crispy_forms_tags %}



<h4> Comments </h4>

{% for comment in post.comments.all %}

{% row "border-top pt-2" %}

{% column %}

  <h5>
    Posted by {{comment.creator}} at {{comment.created_at|date:"M, d Y h:i"}}
  </h5>

  {% endcolumn %}

  {% endrow %}


{% row "border-bottom" %}

{% column %}

<p>{{comment.content}}</p>

{% endcolumn %}
{% endrow %}

{% empty %}

{% row "border-top border-bottom" %}

{% column %}

<p>No comments.</p>

{% endcolumn %}

{% endrow %}
{% endfor %}

{%if request.user.is_active %}
{% row "mt-4" %}

{% column %}
<h4>Add Comment <h4>
  
  {% crispy comment_form %}

{% endcolumn %}
{% endrow %}
{% endif %}


