{% extends "base.html" %}
{% block content %}
{% load blog_extras cache %}






<h2>{{post.title}}</h2>

  {% row %}

    <div class="col">

      {% include "blog/post-byline.html" %}


    </div>


  {% endrow %}

{% row %}
      <div class="col">

        {{post.content|safe}}

      </div>


{% endrow %}


{% if post.author.profile %}
  {% row %}
      {%column%}

      <h4>About the Author </h4>
      <p>{{post.author.profile.bio}}</p>

      {%endcolumn%}

      {%endrow%}

      {%endif%}

It does 
{% if post.hero_image %}
exist..
  {% row %}

  {% column %}
      <img class="img-fluid" src="{{  post.hero_image.url  }}">
      
  {% endcolumn %}

 {% endrow %}

{% endif %}        






{% include "blog/post-comments.html" %}


{% row %}

  {% column %}

  {% cache 3600 recent_posts post %}

  {% recent_posts post %}

  {% endcache %}

  {% endcolumn %}

{% endrow %}


{% endblock %}